header {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background-color: #000000;
    color: white;
    width: 100%; 
    box-sizing: border-box; 
    justify-content: flex-end;
}

header img {
    width: 50px;
    margin-right: auto; 
}

header ul {
    padding: 5px;
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li {
    display: inline-block;
    position: relative;
    padding: 0px 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #ffffff;
}

header ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
}

header ul li a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    header {
        width: 100%;
    }

    header ul li a {
        font-size: 13px;
    }

    header ul {
        gap: 5px;
    }

    header img {
        width: 40px;
    }
}

@media (max-width: 350px) {
    header {
        width: 100%;
    }

    header ul li a {
        font-size: 10px;
    }

    header ul {
        gap: 3px;
    }

    header img {
        width: 30px;
    }
}