.home {
    background: white;
    padding: 350px 32px;
    text-align: left;
}

.hello {
    font-size: 25px;
    font-weight: 600;
}

.name {
    font-size: 80px;
}

.desc {
    font-size: 40px;
    color: rgb(85, 85, 85);
}