.home {
    background: white;
    text-align: left;
    margin: 0; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically on desktop */
}

.hello {
    font-size: 25px;
    font-weight: 600;
}

.name {
    font-size: 80px;
}

.desc {
    font-size: 40px;
    color: rgb(85, 85, 85);
}

@media (max-width: 800px) {
    .home {
        padding: 100px 32px; 
        height: auto; 
    }
}