* {
    padding: 0;
    margin: 0;
}

.menu {
    color: white;
    background-color: black;
    padding: 8px;
    text-align: center;
}

.picture {
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
}

.info {
    background: white;
    padding: 32px;
    text-align: center;
}

.topics {
    padding-top: 20px;
    padding-bottom: 10px;
}

.text {
    line-height: 25px;
}

main {
    background-color: white;
    padding: 16px;
}

footer {
    color: white;
    background-color: black;
    padding: 16px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}